Import Libraries

In [102]:
import pandas as pd
import re
import string
import nltk
from nltk.corpus import stopwords

In [ ]:
# Download the stopwords
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\pksat\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

Load Dataset

In [104]:
df = pd.read_csv("../data/structured_it_resume_dataset.csv")

Combine Text Columns

In [105]:
df["combined_text"] = (
    df["education"] + " " +
    df["Technical skills"] + " " +
    df["Soft skills"] + " " +
    df["Tools & frameworks"] + " " +
    df["Years of experience"].astype(str)+ " " +
    df["resume_paragraph"]
)

df[["job_role", "combined_text"]].head()

         job_role                                      combined_text
0  Data Scientist  BSc in Computer Science data visualization, da...
1  Data Scientist  BSc in Computer Science linux, git, agile meth...
2  Data Scientist  MSc in Information Technology python, data vis...
3  Data Scientist  Bachelor of Engineering linux, problem solving...
4  Data Scientist  Diploma in Software Development git, statistic...

Text Cleaning

Lowercase,
Remove punctuation,
Remove special characters,
Remove stopwords,

In [106]:
stop_words = set(stopwords.words("english"))

def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^\w\s]', '', text)
    words = text.split()
    words = [w for w in words if w not in stop_words]
    return " ".join(words)

Apply Cleaning

In [107]:
df["clean_text"] = df["combined_text"].apply(clean_text)

df[["combined_text", "clean_text"]].head()

,combined_text,clean_text
0,"BSc in Computer Science data visualization, da...",bsc computer science data visualization data a...
1,"BSc in Computer Science linux, git, agile meth...",bsc computer science linux git agile methodolo...
2,"MSc in Information Technology python, data vis...",msc information technology python data visuali...
3,"Bachelor of Engineering linux, problem solving...",bachelor engineering linux problem solving wir...
4,"Diploma in Software Development git, statistic...",diploma software development git statistics da...

In [108]:
df.to_csv("../data/processed_random_imbalanced.csv", index=False)

Define dependent and independent variable

In [109]:
X_text = df["clean_text"]
y = df["job_role"]