Import Libraries

In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import (accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix)
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC

Process data

In [93]:
df = pd.read_csv("../data/processed_random_imbalanced.csv")
df.head()

,job_role,education,Technical skills,Soft skills,Tools & frameworks,Years of experience,resume_paragraph,combined_text,clean_text
0,Data Scientist,BSc in Computer Science,"data visualization, data analysis, project man...","communication, teamwork, adaptability","team collaboration, git",12,MSc in Information Technology graduate with 9 ...,"BSc in Computer Science data visualization, da...",bsc computer science data visualization data a...
1,Data Scientist,BSc in Computer Science,"linux, git, agile methodology, problem solving...","communication, teamwork, adaptability","java, docker",2,MSc in Information Technology graduate with 4 ...,"BSc in Computer Science linux, git, agile meth...",bsc computer science linux git agile methodolo...
2,Data Scientist,MSc in Information Technology,"python, data visualization, problem solving, a...","communication, teamwork, adaptability","system design, linux",2,MSc in Information Technology graduate with 2 ...,"MSc in Information Technology python, data vis...",msc information technology python data visuali...
3,Data Scientist,Bachelor of Engineering,"linux, problem solving, wireframing, pandas, n...","communication, teamwork, adaptability","project management, data analysis",9,MSc in Information Technology graduate with 8 ...,"Bachelor of Engineering linux, problem solving...",bachelor engineering linux problem solving wir...
4,Data Scientist,Diploma in Software Development,"git, statistics, data analysis, numpy, system ...","communication, teamwork, adaptability","sql, linux",3,MSc in Information Technology graduate with 8 ...,"Diploma in Software Development git, statistic...",diploma software development git statistics da...

Define x and y

In [94]:
X_text = df["clean_text"]
y = df["job_role"]

Apply TF-IDF (Term Frequency â€“ Inverse Document Frequency) (convert to machine language)

In [95]:
tfidf = TfidfVectorizer(
    max_features=8000,
    ngram_range=(1,2),
    sublinear_tf=True
)

X = tfidf.fit_transform(X_text)

Train-Test Split

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, train_size=0.8, random_state=100)

Check shape

In [97]:
print("Feature Matrix Shape:", X.shape)

Feature Matrix Shape: (2400, 3111)